<!-- Other HTML content in your app.component.html -->

<h2>BeforeUnload Demo</h2>
<p>
  This demo showcases how to handle unsaved changes and manual logout actions. 
  It uses the `beforeunload` event to prompt the user when they attempt to leave the page
  without saving changes. it sends a beacon to the server when the user logs out manually
  or when they close the tab.
</p>


<div [ngSwitch]="isLoggedIn">
  <button *ngSwitchCase="false" (click)="triggerManualApi('login/')">Login Manually</button>
  <button *ngSwitchCase="true" (click)="triggerManualApi('logout/')">Logout Manually</button>
</div>

<p>
  Clicking the "Logout Manually" button will send a beacon to notify the server 
  about the logout action. Closing the tab or navigating away will also send a beacon.
</p>
