<!-- Other HTML content in your app.component.html -->

<h2>BeforeUnload Demo</h2>
<p>
  This demo showcases how to handle unsaved changes and manual logout actions. 
  It uses the `beforeunload` event to prompt the user when they attempt to leave the page
  without saving changes. it sends a beacon to the server when the user logs out manually
  or when they close the tab.
</p>


<div [ngSwitch]="isLoggedIn">
  <div *ngSwitchCase="true">
    <p>You are logged in.</p>
    <p>Your Token is : {{token}}</p>
    <p>Click the button below to trigger a manual logout.</p>
    <button (click)="triggerManualApi('logout/')">Logout Manually</button>
  </div>
  <div *ngSwitchCase="false">
    <p>You are not logged in.</p>
    <p>Please log in to access the application.</p>
    <button (click)="triggerManualApi('login/')">Login Manually</button>
  </div>
</div>